<script id="designer-template" type="text/html">

    <canvas data-bind="pastable: { value: data.url, active: state.active, source: app.paste.pasteURL, onAfterPaste: actions.uploadFile }"></canvas>
    <img data-bind="jcrop: jcrop, attr: { src: data.url }" />

    <div class="action-buttons">
        <button data-bind="click: jcrop.confirmSelection, visible: jcrop.active">Confirm Selection</button>
    </div>
    
    
        <!-- ko foreach: data.selections -->
        <selection params="{ data: $data }"></selection>
        <!-- /ko -->
    

    <pre data-bind="text: ko.toJSON(data.selections)"></pre>

</script>