@import "lib/bootstrap/theme.less";


.menu, .properties, .designer, .empty {
    position: absolute;
    top: 0;
    bottom: 0;

    overflow: auto;       
}

.menu {
    background: #f1f1f1;
    width: 20%;

}

.properties {
    left: 20%;
    background: #cccccc;
    width: 30%;
}

.designer {
    left: 50%;
    width: 50%;
    background: : #fff;
}



.container {
    width: 100%!important;
}
