@import "lib/bootstrap/theme.less";

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
}

pre {
    white-space: normal;
}

.menu, .properties, .designer, .empty {
    position: absolute;
    top: 0;
    bottom: 0;

    overflow: auto;       
}

.menu {
    background: #f1f1f1;
    width: 20%;

}

.properties {
    background: #cccccc;
    width: 30%;
}

.designer {
    left: 30%;
    width: 70%;
    background: #fff;
}

.stack-item {
    width: 80%;
    left: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.container {
    width: 100%!important;
}

.selection {
    position: absolute;
    //border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px red;
    
}

