<!-- STACK - PAGE -->
        <script id="stack-page-template" type="text/html">
            <div class="stack-item main" data-bind="style: { 'z-index': state.order }">
                <div class="properties">
                    <h2 data-bind="text: properties.title"></h2>

                    <span data-bind="text: properties.fields.id"></span>

                    <div class="container">
                        <form data-bind="submit: actions.close">
                            <div class="row">
                                <div class="col-xs-12">


                                    <input-text params="field: properties.fields.name"></input-text>
                                    <input-text params="field: properties.fields.type"></input-text>
                                    <input-text params="field: properties.fields.path"></input-text>
                                    <input-pagetemplate params="field: properties.fields.pageTemplate"></input-pagetemplate>
                                    <input-pagemodulezones params="field: properties.fields.moduleZones"></input-pagemodulezones>
                                    <!--<input-image params="field: properties.fields.image"></input-image>-->
                                    

                                    <button data-bind="click: actions.close">ok</button>
                                    <button data-bind="click: actions.clearSelections">Clear Selections</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="designer">
                    <designer params="data: { url: properties.fields.image.url, selections: data.selections }, state: { active: state.active }, designer: designer"></div>
                </div>
            </div>
        </script>
        <!-- END STACK - PAGE -->