<!-- INPUT PAGETEMPLATE -->
        <script id="input-pagetemplate-template" type="text/html">
            <div class="form-group">
                <label>Page Templates</form>
                <select class="form-control" data-bind="options: options, optionsValue: 'id', optionsText: 'name', value: value"></select>
                <button data-bind="click: newPageTemplate">New Page Template</button>

                <!-- ko if: value() != null && value().length > 0 -->
                <!-- ko ifnot: hasPageTemplateSection -->
                <button data-bind="click: actions.drawPageTemplateSection">Draw Selection</button>
                <!-- /ko -->
                <!-- ko if: hasPageTemplateSection -->
                <button data-bind="click: actions.editPageTemplateSection">Edit Selection</button>
                <!-- /ko -->
                <!-- /ko -->

            </div>
        </script>
        <!-- END INPUT PAGETEMPLATE -->