<!-- INPUT PAGE MODULE ZONE -->
    <script id="input-pagemodulezone-template" type="text/html">
        <div class="form-group">
            <!-- ko if: hasZone -->
            <span data-bind="text: pageTemplateModuleZone().name"></span>
            <button data-bind="click: actions.drawNewSection, visible: !hasSection()">Draw Selection</button>
            <button data-bind="click: actions.editSection, visible: hasSection()">Edit Selection</button>
            <!-- /ko -->
        </div>
    </script>
    <!-- END INPUT PAGE MODULE ZONES -->